<%= content_for :title, 'Transactions' %>

<div class="pull-right">
	<%= link_to new_user_transaction_path(current_user), remote: true, data: {target: "modal"}, :class => "btn btn-outline-primary btn-border-blue custom-btn" do %>
		<i class="fa fa-plus" aria-hidden="true"></i> New Transaction
	<% end %>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="create_transaction_modal"></div>