<div class="page-header navbar navbar-fixed-top">
  <div class="page-header-inner ">
    <div class="page-logo">
      <%= link_to '#', :class => "nav-link", 'data-no-turbolink' => true do %><img src="/assets/new_main_logo.png" alt="logo" class="logo-default" /><% end %>
      <div class="menu-toggler sidebar-toggler">
        <span></span>
      </div>
    </div>
    <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
      <span></span>
    </a>
    <div class="top-menu">
      <ul class="nav navbar-nav pull-right">
        <li>
          <%= link_to "#", :class => 'logout_toggle' do  %>
            <i class="icon-logout"></i>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</div>